html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e9ddc0;
}
#container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

#map {
  height: 900.5px;
  width: 700px;
  border: solid;
  flex-shrink: 0;
}

p,
h1,
h3 {
  text-align: center;
}
p {
  font-size: 20px;
}
.question {
  background-color: #2f82ba;
}
.correct {
  color: #7eb364;
}
.wrong {
  color: #f95450;
}
button {
  display: none;
}
#QA {
  height: 493px;
}
#restartButton {
  margin: 10px auto;
  width: 50%;
  height: 40px;
}
#scores {
  border-top: 1px black solid;
}
#hScoreHeading {
  border: solid;
}
